<% provide(:title, "Team") %>

<h1> <%= yield(:title) %> </h1>

<h4>
<ul>
	<li>Morgan Howell '17</li>
		<%= link_to image_tag("morgan.jpg", height: '200', alt: "morgan"), "#" ,class: "morgan" %>
	<br>
	<li>Nancy Gao '17</li>
		<%= link_to image_tag("nanc.jpg", height: '200', alt: "nanc"), "#" ,class: "nanc" %>
	<br>
	<li>Aaron Mays '17</li>
		<%= link_to image_tag("aaron.jpg", height: '200', alt: "aaron"), "#" ,class: "aaron" %>



</ul>


</h4>
