<%$i=1%>

<% @usercodes.each do |repo| %>


<div id="code-saved" class=" row container ">

  
  <h3> Repo ID: <%= $i %></h3>
  <div id="code">
  <p> <%= repo.code %></p>
  </div>
  <% $i+=1 %>
 
</div>


<% end %>